body {
    background-color: #ffda67;
    margin:0;
    padding:0;
}

#signin-div {
    width: 100%;
    top: 50%;
    height: 500px;
    position:absolute;
    left: 0;
    transform: translateY(-250px);
}
#signin-div>h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 5rem;
    border: 7px solid black;
    background: white;
    width: 400px;
    padding: 10px 1rem 1.5rem 1rem;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
}
#firebaseui-auth-container {
    width: 100%;
}


#lobby-div {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#lobby-header-div {
    width: 100%;
    background-color: #666;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#lobby-header-div>div {
    background-color: #888;
    border-radius: 10px;
}