body {
    background-color: #161616;
    margin:0;
    padding:0;
    min-width: 960px; /* WHY THIS NO WORK */
}

table {
    border-spacing: 0;
}
td {
    padding: 0;
}



















.inner-flex-div {
    flex: 1;
    display: flex;
    justify-content: center;
}
.inner-flex-div:last-child {
    justify-content: flex-end;
}
.inner-flex-div:first-child {
    justify-content: flex-start;
}

.fill {
    height: 100%;
    width: 100%;
}




















#signin-div {
    width: 100%;
    top: 50%;
    height: 500px;
    position:absolute;
    left: 0;
    transform: translateY(-250px);
}
#signin-div>h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 5rem;
    border: 7px solid black;
    background: white;
    width: 400px;
    padding: 10px 1rem 1.5rem 1rem;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
}
#firebaseui-auth-container {
    width: 100%;
}


#lobby-div {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
#lobby-table {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#lobby-header-div {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}
#lobby-title-div {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
    color: white;
}
#lobby-party-div {
    height: 60px;
    width: 240px;
    background-color: #242424;
    text-align: center;
    border-radius: 30px;
}
#lobby-party-div .empty-party-text-div {
    margin-top: 16px;
    color: #666;
}

#lobby-account-button-div {

}
#lobby-account-button-table {
    border-spacing: 10px;
}
#lobby-account-button-table .user-image-div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #AAA;
    overflow: hidden;
    border: 1px solid #666;
}
#lobby-account-button-table .user-image-div > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#lobby-background-div {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#lobby-background-div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#lobby-left-td {
    width: 320px;
    position: relative;
}
#lobby-right-td {
    width: 320px;
    position: relative;
}
#lobby-middle-div {
    z-index: 0;
}
#lobby-left-div {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}
#lobby-right-div {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}


.lobby-panel-div {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #2e2e2e;
    background-color: #222;
}