body {
    margin: 0;
}
table {
    border-spacing: 0;
}






#page-table {
    width: 100%;
    height: 100%;
}
#page-table td {
    width: 100%;
}
#page-header-td {
    padding: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #EEE;
    border-bottom: 1px solid #AAA;
}
#page-contents-td {
    height: 100%;
}
#page-footer-td {
    font-size: 0.9rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #AAA;
    border-top: 1px solid #444;
}